@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {

    }
}

@layer components {
    body {
        font-family: Roboto;
        background: url("../assets/bg.png");
        background-size: cover;
    }

    .p {
        font-family: Roboto;
        font-size: clamp(0.75rem, calc(0.71rem + 0.18vw), 0.88rem);
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
        letter-spacing: 0.5px;
    }

    .h1 {
        font-family: Roboto;
        font-size: clamp(1.88rem, calc(0.98rem + 4.46vw), 5rem);
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 80px */
    }

    .h2 {
        font-family: Roboto;
        font-size: clamp(1.56rem, calc(1.21rem + 1.79vw), 2.81rem);
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 49.5px */
    }

    .h3 {
        font-family: Roboto;
        font-size: clamp(1rem, calc(0.75rem + 1.25vw), 1.88rem);
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 36px */
    }

    .h4 {
        font-family: Roboto;
        font-size: clamp(1rem, calc(0.93rem + 0.36vw), 1.25rem);
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
        letter-spacing: 1px;
    }

    .prod {
        background: rgb(14, 14, 14);
        background: url("../assets/noise.jpeg");
        background-size: cover;
        border-radius: 15px;
    }

    .battery-h4 {
        padding: 0 10px;
        height: 50px;
        color: #919191;
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
        border-bottom: 3px solid #919191;
    }

    .battery-h4:nth-child(1) {
        border-bottom: 3px solid #FF4C0D;
    }

    .battery-p {
        padding: 13px 10px;
        color: #919191;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
        letter-spacing: -0.14px;
    }


    .design-img {
        background: rgb(14, 14, 14);
        background: linear-gradient(0deg, rgba(14, 14, 14, 1) 0%, rgba(14, 14, 14, 0) 50%, rgba(14, 14, 14, 1) 100%);
        background-size: cover;
        box-sizing: border-box;
        background-origin: content-box;
    }

    #checkbox2 {
        display: none;
    }

    .toggle2 {
        position: relative;
        width: 60px;
        height: 60px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        transition-duration: .5s;
    }

    .bars {
        width: 100%;
        height: 6px;
        background-color: rgb(255, 255, 255);
        border-radius: 6px;
    }

    #bar5 {
        transition-duration: .8s;
    }

    #bar4, #bar6 {
        width: 80%;
    }

    #checkbox2:checked + .toggle2 .bars {
        position: absolute;
        transition-duration: .5s;
    }

    #checkbox2:checked + .toggle2 #bar5 {
        transform: scaleX(0);
        transition-duration: .5s;
    }

    #checkbox2:checked + .toggle2 #bar4 {
        width: 100%;
        transform: rotate(45deg);
        transition-duration: .5s;
    }

    #checkbox2:checked + .toggle2 #bar6 {
        width: 100%;
        transform: rotate(-45deg);
        transition-duration: .5s;
    }

    #checkbox2:checked + .toggle2 {
        transition-duration: .5s;
        transform: rotate(180deg);
    }

    .checkbox {
        width: 223px;
        height: 60px;
        background-color: transparent;
        border: 3px solid white;
        border-radius: 30px;
        position: relative;
        color: black;
        overflow: hidden;
        margin: 40px 140px;
    }

    #checkbox_toggle {
        display: none;
    }

    #checkbox_toggle_1 {
        display: none;
    }

    .checkbox .toggle {
        width: 100px;
        height: 50px;
        position: absolute;
        border-radius: 30px;
        left: 3px;
        bottom: 2px;
        cursor: pointer;
        background: white;
        transition: 0.4s;
    }

    .checkbox .slide {
        width: 230px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
    }

    .checkbox .slide .text {
        font-size: 16px;
        font-weight: 700;
        z-index: 100;
        cursor: pointer;
        padding-right: 5px;
        padding-bottom: 5px;
    }

    .checkbox .slide .text:nth-child(3) {
        color: white;
    }

    .check:checked + .checkbox .slide .toggle {
        transform: translateX(113px);
        background: #171717;
    }

    .check:checked + .checkbox .slide {
        background-color: transparent;
        color: #ffffff;
    }
}
